<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
	 <script type="text/javascript" src="/javascripts/jquery.js"></script>
	  <script type="text/javascript" src="/javascripts/ajaxAction.js"></script>
  </head>
  <body>
  <script type="text/javascript">//
    ajax({
	method:'GET',//
	responseType:'json',
    url:'http://localhost:3000/ajax',
    params: [{name:'yhj', age:{name:'yzh', age:'23'}},{name:'yhj', age:{name:'yzh', age:'23'}}],//[{name:'yhj', age:'22'},{name:'yzh', age:'23'}]
    }, {
    success:function(result) {
     alert(result)
     },
    }).send();
	
	/*
	ajaxAction({url:'http://localhost:3000/ajax', method:'POST'}, [{name:'yhj', age:{name:'yzh', age:'23'}},{name:'yhj', age:{name:'yzh', age:'23'}}], 
	{
	callbackHandler:function(result) {
	},
	});
  */
  </script>
  </body>
</html>